version: '3.8'
services:

<%_ if (databaseType === 'postgresql') { _%>
  postgresqldb:
    image: postgres:12.3
    environment:
      - POSTGRES_USER=siva
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=appdb
    ports:
      - "5432:5432"
<%_ } _%>
<%_ if (databaseType === 'mysql') { _%>
  mysqldb:
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=appdb
      - MYSQL_USER=siva
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"

  <%_ } _%>
<%_ if (databaseType === 'mariadb') { _%>
  mariadb:
    image: mariadb:10.5.8
    environment:
      - MYSQL_DATABASE=appdb
      - MYSQL_USER=siva
      - MYSQL_PASSWORD=secret
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
<%_ } _%>

<%_ if (features.includes('localstack')) { _%>
  localstack:
    image: localstack/localstack:0.11.2
    ports:
      - "4566:4566"
    environment:
      - SERVICES=S3,SQS
      - DEFAULT_REGION=us-east-1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - HOST_TMP_FOLDER=${TMPDIR}
    volumes:
      - "${TMPDIR:-/private}:/private"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - '../.localstack:/docker-entrypoint-initaws.d'
<%_ } _%>
